.navLink {
  padding: 4px 0px;
  margin-right: 35px;
  border-bottom: 2px solid transparent;
  list-style-type: none;
}

.navLink:last-child {
  margin-right: 0px;
}

.navLink a {
  color: #596979;
  font-size: 2rem;
  font-weight: 500;
  text-decoration: none;
}

.navLink.selected {
  border-bottom: 2px solid #202020;
}

.navLink.selected a {
  color: inherit;
}
